

body{
  background-image: url(../img/1440x810_cmsv2_75c4ef08-8979-5087-aa7f-6165a018f42f-7384850.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.ms_card{
  background-color: rgba(255,255,255, 0.8);
}